.tabs {
  --tabsBodyRowGap: 0;
  --tabsNonActiveContentDisplay: none;
  --tabsNavigationDisplay: none;

  display: grid;
  row-gap: 20px;

  &__body {
    display: grid;
    row-gap: var(--tabsBodyRowGap);
  }

  &__content {
    &:not(.is-active) {
      display: var(--tabsNonActiveContentDisplay);
    }
  }
}