.logo {
  display: flex;
  align-items: center;
  column-gap: 6px;
  width: fluid(199, 116);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @include hover {
    color: var(--color-red-45);
  }

  &__image {
    width: fluid(70, 50);
  }

  &__title {
    @include fluid-text(28, 18);

    font-weight: 700;
  }
}